@import "tailwindcss";

:root {
  --background: #05050a;
  --foreground: #f5f3ff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background:
    radial-gradient(
      circle at 15% 10%,
      rgba(99, 102, 241, 0.08),
      transparent 30%
    ),
    radial-gradient(
      circle at 85% 10%,
      rgba(139, 92, 246, 0.07),
      transparent 28%
    ),
    #05050a;

  color: var(--foreground);
}

::selection {
  background: rgba(139, 92, 246, 0.35);
  color: white;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #05050a;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: #27213d;
}

::-webkit-scrollbar-thumb:hover {
  background: #4c3b7a;
}